{{ define "main" -}}
<div>
  <h1>{{ .Title }}</h1>
</div>

{{ if (eq (.Param "view") "grid" )}}

<div class="grid-list">
  {{ range $page := .Paginator.Pages -}}
  <div class="grid-item">
    {{with .Param "preview"}}
    {{ $image := resources.GetMatch . }}
    {{ with $image }}
    {{ $image := $image.Fit "250x250" }}
    <a href="{{ $page.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" class="preview">
    </a>
      {{ end }}
    {{ end }}
    <p style="text-align: center">
     <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
    </p>
  </div>
  {{ end -}}
</div>

{{ else }}

<!-- we don't need to bother checking if the param "view" is "list" because list will be the default.
If I add more views, they won't be called "list". -->

<ul class="list">
  {{ range $page := .Paginator.Pages -}}
  <li class="grid-item">
     <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
  </li>
  {{ end -}}
</ul>

{{ end }}

{{ template "_internal/pagination.html" . -}}
{{ end -}}
