{{ define "main" -}}
<div>
  <h1>{{ .Title }}</h1>
</div>

<!-- Todo: If page.param view is grid, or page.param view is list, then do normal ul li list.-->
<div class="grid-list">
  {{ range $page := .Paginator.Pages -}}
  <div class="grid-item">
    {{with .Param "preview"}}
    {{ $image := resources.GetMatch . }}
    {{ with $image }}
    {{ $image := $image.Fit "250x250" }}
    <a href="{{ $page.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" class="preview">
    </a>
      {{ end }}
    {{ end }}
    <p style="text-align: center">
     <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
    </p>
  </div>
  {{ end -}}
</div>
{{ template "_internal/pagination.html" . -}}
{{ end -}}
