{{ define "main" -}}
<div>
  <div class="title">
    <h1>{{ .Title }}</h1>
  </div>
  {{ if .Date -}}
  <div class="meta">{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02 15:04") }}</div>
  {{ end -}}
  {{ $taxo := "tags" -}}
  {{ if .Param $taxo -}}
  <div class="meta">
    {{ $data := newScratch }}
    {{ range .Param $taxo -}}
    {{ $name := . -}}
    {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | anchorize)) }}
    {{ $data.Set "url" .Permalink }}
    {{ end }}
    {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
    {{ $data.Set "url" .Permalink }}
    {{ end }}
    <div class="tag"><a href="{{ $data.Get "url" }}">#{{ $name }}</a></div>
    {{ end -}}
  </div>
  {{ end -}}
  <article>
    <section>
      {{with .Param "preview"}}
        {{ $image := resources.GetMatch . }}
        {{if $image}}
        {{ $image := $image.Fit "920x400" }}
        {{ with $image }}
          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="preview">
        {{ end }}
        {{else}}
        DEBUG cant find image
        {{end}}
      {{end}}
      <h4>About</h4>
      {{ .Content -}}

      {{if (or (isset .Params "download") (isset .Params "downloads"))}}
      <h4>Download</h4>
      <ul>
        {{with .Param "download"}}
          {{ with resources.GetMatch . }}
            <li><a href="{{ .Permalink }}">{{ .Name }}</a></li>
          {{ end }}
        {{end}}
        {{range .Param "downloads"}}
          {{ with resources.GetMatch . }}
            <li><a href="{{ .Permalink }}">{{ .Name }}</a></li>
          {{ end }}
        {{end}}
      </ul>
      {{end}}

      {{if (or (isset .Params "link") (isset .Params "links"))}}
      <h4>Link</h4>
      <ul>
        {{with .Param "link"}}
        <li><a href="{{ . }}">{{ . }}</a></li>
        {{end}}
        {{range .Param "links"}}
        <li><a href="{{ . }}">{{ . }}</a></li>
        {{end}}
      </ul>
      {{end}}
    </section>
    {{ partial "license.html" . }}
  </article>
</div>
{{ end -}}
